@model IEnumerable<demoDOAN.Models.OrderDetail>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

</head>
<body>
    <style>
        body {
            margin: 0;
            background-color: #fbfbfb;
        }

        .btn-primarys {
            background-color: #6f6f6f;
            color: #fff;
        }

            .btn-primarys:hover {
                color: #f5f5f5;
                background-color: #6f6f6f;
                cursor: pointer;
            }

        .tablee {
            padding: 25px 35px;
            background-color: #fff;
        }
    </style>
    <div class="header header-pc" style="background-color: #e6e3de; padding: 3px 0">
        <div class="container" style="display: flex; justify-content: center">
            <div class="navbar-left">

            </div>
            <div class="navbar-center">
                <a href="http://localhost:64657/Trangchu/Trangchu"> <img src="~/image/logo-top.png" /></a>

            </div>
            <div class="navbar-right">

            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 50px; margin-bottom: 200px;">
       
            <h4 style="text-align: center; font-size: 30px; text-transform: uppercase">Quản lý đơn hàng</h4>
            <hr />
        <div class="tablee">
            <table class="table">
                <tr>
                    <th>
                        Tên mặt hàng
                    </th>
                    <th>
                        Số lượng
                    </th>
                    <th>
                        Đơn giá
                    </th>
                    <th>
                        Địa chỉ
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Product.NamePro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderPro.AddressDeliverry)
                        </td>
                        <td>
                           
                            <a href=" @Url.Action("Delete", "OrderDetails",  new { id = item.ID })" class="btn btn-primarys">
                                Xóa
                            </a>

                        </td>

                    </tr>
                }

            </table>
        </div>
            <div class="form-group" style="display: flex; margin-top: 30px;justify-content: space-between">
                <div class="col-md-offset-2 col-md-6">
                    <a href=" @Url.Action("Index", "AdminProducts")" class="btn btn-primarys">
                        Quay lại
                    </a>
                </div>
                <div style="display: flex; justify-content: end;">
                    @using (Html.BeginForm())
                    {
                        <div class="col-md-offset-2 col-md-6" style="display: flex;">
                            <input type="submit" value="Lưu thay đổi" class="btn btn-primarys" />
                        </div>
                    }

                </div>
            </div>
    </div>
        <footer class="" style="background-color: #e6e3de; padding: 50px 0"></footer>
</body>
</html>
