@model demoDOAN.Models.AdminUser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <style>
        .form1 {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .btn-primarys {
            background-color: #6f6f6f;
            color: #fff;
        }

            .btn-primarys:hover {
                color: #f5f5f5;
                background-color: #6f6f6f;
                cursor: pointer;
            }

        .form-group {
            margin: 15px 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
    <div class="header header-pc" style="background-color: #e6e3de; padding: 3px 0">
        <div class="container" style="display: flex; justify-content: center">
            <div class="navbar-left">

            </div>
            <div class="navbar-center">
                <a href="http://localhost:64657/Trangchu/Trangchu"> <img src="~/image/logo-top.png" /></a>

            </div>
            <div class="navbar-right">

            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 45px; margin-bottom: 290px">
        <h4 style="text-align: center; font-size: 30px; text-transform: uppercase">Thông tin quản trị viên</h4>
        <hr />
        <dl class="dl-horizontal">
            <div class="form1" style="margin-top: 30px">
                <dt>Tên đăng nhập:</dt>
                <dd class="form-control" style="width: 85%; padding: 8px 15px; cursor: no-drop; ">@Html.DisplayFor(model => model.NameUser)</dd>
            </div>
            <div class="form1">
                <dt>Chức vụ:</dt>
                <dd class="form-control" style="width: 85%; padding: 8px 15px; cursor: no-drop; "> @Html.DisplayFor(model => model.RoleUser)</dd>
            </div>
            <div class="form1">
                <dt> Mật khẩu:</dt>
                <dd class="form-control" style="width: 85%; padding: 8px 15px; cursor: no-drop; "> @Html.DisplayFor(model => model.PasswordUser)</dd>
            </div>

        </dl>
        <div class="form-group" style="display: flex; margin-top: 30px;">
            <div class="col-md-offset-2 col-md-6">
                <a href=" @Url.Action("Index", "AdminUsers")" class="btn btn-primarys">
                    Quay lại
                </a>

            </div>
            <div class="col-md-offset-2 col-md-6" style="display: flex;justify-content: flex-end">
                <a href=" @Url.Action("Edit", "AdminUsers",new { id = Model.ID })" class="btn btn-primarys">
                    Chỉnh sửa
                </a>
            </div>
        </div>

    </div>

    <footer class="" style="background-color: #e6e3de; padding: 50px 0"></footer>
</body>
</html>
